<p class="commentTitle1">评论区</p>
<div class="commentLine"></div>
<p class="commentTitle2">电影：{{ film_name }}</p>
{% if commentObjList %}
    {% for commentObj in commentObjList %}
        <span class="commentContentBox">
            <p class="commentFilmName" style="display: none">{{ commentObj.film_name }}</p>
            <p class="commentContentUser"><b>{{ commentObj.user_name }}</b></p>
            <p class="commentSendTime">{{ commentObj.comment_time }}</p>
            <div class="commentContentText"><span>{{ commentObj.comment_text }}</span></div>
            <div class="commentContentLine"></div>
        </span>
    {% endfor %}
{% else %}
    <p class="no_comment_text">评论席正虚位以待</p>
{% endif %}
<div style="width: 100%;height: 40%;"></div>

